<%= form_for(user, url: update_user_path) do |f| %>
  <div class="form-group col-xs-12">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Nome*' %>
  </div>

  <div class="form-group col-xs-12">
    <%= f.email_field :email, class: 'form-control', required: true, placeholder: 'E-mail*'  %>
  </div>

  <div class="form-group col-xs-12 col-sm-4">
    <%= f.select :sex, { 'Feminino': 'F', 'Masculino': 'M', 'Prefiro não declarar': 'U' }, {},{ class: 'form-control', placeholder: 'Gênero' } %>
  </div>

  <div class="form-group col-xs-12 col-sm-4">
    <%= f.telephone_field :birthdate, class: 'form-control date-field', placeholder: 'Data de nascimento dd/mm/aaaa' %>
  </div>

  <div class="form-group col-xs-12 col-sm-4">
    <%= f.telephone_field :phone, class: 'form-control phone-field', placeholder: 'Telefone' %>
  </div>

  <div class="form-group col-xs-12 col-sm-6">
    <%= f.telephone_field :cpf, class: 'form-control cpf-field', placeholder: 'Cpf*' %>
  </div>

  <div class="form-group col-xs-12 col-sm-6">
    <%= f.telephone_field :rg, class: 'form-control rg-field', placeholder: 'Rg' %>
  </div>

  <div class="form-group col-xs-12 text-center">
    <%= f.submit 'Salvar', class: 'btn btn-primary terciary-text' %>
  </div>
<% end %>
