<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>



 <div class="field">
    <%= f.label :name,'Nome' %><br>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :sex, 'Sexo' %><br />
    <%= f.select :sex, ['Masculino','Feminino'] %>
  </div>

  <div class="field">
    <%= f.label :birthdate, 'Data de Nascimento' %><br />
    <%= f.date_select :birthdate, :start_year => 1930  %>
  </div>

  <div class="field">
    <%= f.label :cpf, 'CPF' %><br />
    <%= f.email_field :cpf %>
  </div>


  <div class="field">
    <%= f.label :rg,'RG' %><br />
    <%= f.text_field :rg %>
  </div>

  <div class="field">
    <%= f.label :street,'Endereço' %><br />
    <%= f.email_field :street %>
  </div>

  <div class="field">
    <%= f.label :phone,'Telefone' %><br />
    <%= f.text_field :phone, class: 'phone' %>
  </div>

  <div class="field">
    <%= f.label :zipcode,'CEP' %><br />
    <%= f.text_field :zipcode %>
  </div>

  <div class="field">
    <%= f.label :city, 'Cidade' %><br />
    <%= f.email_field :city %>
  </div>

  <div class="field">
    <%= f.label :state,'Estado' %><br />
    <%= f.email_field :state %>
  </div>

  <div class="field">
    <%= f.label :password,'Senha' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,'Confirmação de Senha' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
