<!--Header-->
<header class="stiky-header">
  <div class="container group">
    <%= link_to root_path, class: 'logo' do %>
      <%= image_tag 'logos/logo-01.png', alt: 'logo cegonha preta' %>
    <% end %>

    <%= link_to root_path, class: 'logo-mobile' do %>
      <%= image_tag 'logos/logo-01.png', alt: 'logo cegonha preta' %>
    <% end %>

    <div class="navi-toggle group">
      <span class="dot"></span><span class="line"></span>
      <span class="dot"></span><span class="line"></span>
      <span class="dot"></span><span class="line"></span>
      <span class="dot"></span><span class="line"></span>
    </div>
    <% if !user_signed_in? %>
      <%= link_to login_path, class: 'btn btn-primary btn-login' do %>
        <i class="fa fa-user"></i>Entrar
      <% end %>
    <% end %>
    <nav class="main-navi">
      <ul>
        <li class=""><%= link_to 'Início', root_path, class: 'scroll-up' %></li>
        <li class=""><%= link_to 'Entenda', root_path(anchor: 'features-header') %></li>
        <li class=""><%= link_to 'Planos', root_path(anchor: 'pricing') %></li>
        <li class=""><%= link_to 'FAQ', root_path(anchor: 'faq') %></li>
        <li class=""><%= link_to 'Contato', root_path(anchor: 'contacts') %></li>
        <% if user_signed_in? %>
          <li class="">
            <%= link_to 'Perfil', user_profile_path %>
          </li>
          <li><%= link_to 'Encerrar sessão', logout_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
