<!--Header-->
<header class="stiky-header">
  <div class="container group">
    <%= link_to root_path, class: 'logo' do %>
      <%= image_tag 'logos/logo-01.png', alt: 'logo cegonha preta' %>
    <% end %>

    <%= link_to root_path, class: 'logo-mobile' do %>
      <%= image_tag 'logos/logo-01.png', alt: 'logo cegonha preta' %>
    <% end %>

    <div class="navi-toggle group">
      <span class="dot"></span><span class="line"></span>
      <span class="dot"></span><span class="line"></span>
      <span class="dot"></span><span class="line"></span>
      <span class="dot"></span><span class="line"></span>
    </div>
    <% if !user_signed_in? %>
      <%= link_to login_path, class: 'btn btn-primary btn-login' do %>
        <i class="icon-user"></i>Entrar
      <% end %>
    <% else %>
      <%= link_to logout_path, method: :delete, class: 'btn btn-danger btn-login' do %>
        <i class="icon-user"></i>Encerrar sessão
      <% end %>
    <% end %>
    <nav class="main-navi">
      <ul>
        <li class=""><a class="scroll-up" href="#">Home</a></li>
        <li class="has-dropdown"><a class="scroll" href="#features">Features<i class="fa fa-caret-down"></i></a>
        <ul class="dropdown">
          <li><a href="#">Submenu Item</a></li>
        </ul>
        </li>
        <% if user_signed_in? %>
          <li class="">
            <%= link_to root_path do %>
              Oi, Caio! 
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
