<div class="primary-bg-color-light margin-bottom-cloud  ">
<div class="container h-centralize">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="">Fazer cadastro</h1>

      <%= form_for @user do |f| %>
        <div class="form-group col-xs-12">
          <%= f.label :name, 'Nome' %>
          <%= f.text_field :name, class: 'form-control', autofocus: true  %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :email %>
          <%= f.email_field :email, id: 'email', class: 'form-control', required: true %>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
          <%= f.label :sex, 'Sexo' %>
          <%= f.select :sex, { 'Prefiro não declarar': 'U', 'Masculino': 'M', 'Feminino': 'F' }, {},{ class: 'form-control' } %>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
          <%= f.label :birthdate, 'Data de nascimento' %>
          <%= f.telephone_field :birthdate, class: 'form-control date-field', placeholder: 'dd/mm/aaaa' %>
        </div>

        <div class="form-group col-xs-12 col-sm-4">
          <%= f.label :phone, 'Telefone de contato' %>
          <%= f.telephone_field :phone, class: 'form-control phone-field' %>
        </div>

        <div class="form-group col-xs-12 col-sm-6">
          <%= f.label :cpf, 'CPF' %>
          <%= f.telephone_field :cpf, class: 'form-control cpf-field' %>
        </div>

        <div class="form-group col-xs-12 col-sm-6">
          <%= f.label :rg, 'RG' %>
          <%= f.telephone_field :rg, class: 'form-control rg-field' %>
        </div>

        <div class="form-group col-sm-6 col-xs-12">
          <%= f.label :password, 'Senha ' %>
          <% if @minimum_password_length %>
              (Até <%= @minimum_password_length %> caracteres)
          <% end %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group col-sm-6 col-xs-12">
          <%= f.label :password_confirmation, 'Confirmação da Senha' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <%= f.hidden_field :plan_intention %>

        <div class="form-group col-xs-12 text-center">
          <%= f.submit 'Salvar', class: 'btn btn-primary terciary-text to-front' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<%= content_for :head do %>
  <%= javascript_include_tag 'masks' %>
  <%= javascript_include_tag 'users/registration' %>
<% end %>

<%= content_for :js do %>
  <script>
    $(document).ready(function() {
      toastr.options.closeButton = true;
      toastr.options.newestOnTop = false;

      <% @user.errors.full_messages.each_with_index do |msg, index| %>
        setTimeout(function() {
          toastr.warning('<%= msg %>')
          }, <%= index * 800 %>);
      <% end %>
    });
  </script>
<% end %>
