<!--Features-->
<section class="page-block" id="features">
  <div class="container">
    <div class="row page-header">
      <%= image_tag 'logos/logotipo-primaria-01.png', class: 'logo col-centered' %>
      <span>Lorem ipsum dolor amet</span>
    </div>
    <div class="row features">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="feature-img"><%= image_tag 'assinatura.png', alt: 'Assinatura' %></div>
        <h3>Assine!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="feature-img"><%= image_tag 'entrega-da-caixa2.png', alt: 'Entrega da Caixa' %></div>
        <h3>Entrega!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="feature-img">
          <%= image_tag 'caixa-da-cegonha.png', alt: 'Caixa da cegonha' %>
        </div>
        <h3>Receba!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo.</p>
      </div>
    </div>
  </div>
</section>

<!--Pricing Plans--> 
<section class="page-block" id="pricing">
  <div class="container">
    <div class="row page-header">
      <h2>Preço dos planos</h2>
      <span>Lorem ipsum dolor amet</span>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <% @plans.each do |plan| %>
        <div class="col-xs-12 col-sm-4">
          <div class="pricing-plan">
            <div class="header">
              <h3><%= plan.name %></h3>
              <span class="price"><%= currency(plan.price) %></span>
            </div>
            <div class="body">
              <uL>
                <li><%= plan.duration %> <%= plan.class.human_attribute_name(:months, count: plan.duration.to_i) %></li>
                <li><%= currency(plan.price_per_month) %> ao mês</li>
                <li><%= plan.description %></li>
              </uL>
              <div class="buy-btn">
                <%= link_to 'Assinar', plans_payment_checkout_path(plan.id), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!--FAQ-->
<section class="page-block faq" id="faq">
  <div class="container">
    <div class="row page-header">
      <h2>FAQ</h2>
      <span>Alguma dúvida? Veja abaixo</span>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4">
        <img class="img-center" src="img/faq-icon.png" alt="FAQ"/>
      </div>
      <% Faq.all.each do |faq| %>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="panel-group" id="accordion-faq">
            <div class="panel">
              <a class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion-faq" href="#collapse<%= faq.id %>">
                <%= faq.question %>
                <div class="indicator"><div class="icon"><span class="hr-line"></span><span class="vr-line"></span></div></div>
              </a>
              <div id="collapse<%= faq.id %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <%= faq.answer %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!--Testimonials-->
<%#<section class="page-block color" id="testimonials">%>
  <%#<div class="container">%>
    <%#<div class="row page-header">%>
      <%#<h2 class="text-light">Testimonials</h2>%>
      <%#<span class="text-light">Subtext for header</span>%>
    <%#</div>%>
    <%#<div class="row">%>
      <%#<div id="testimonials-slider" class="testimonials-slider carousel slide" data-ride="carousel">%>
        <%#[> Indicators <]%>
        <%#<ol class="carousel-indicators">%>
          <%#<li data-target="#testimonials-slider" data-slide-to="0" class="active"></li>%>
          <%#<li data-target="#testimonials-slider" data-slide-to="1"></li>%>
          <%#<li data-target="#testimonials-slider" data-slide-to="2"></li>%>
        <%#</ol>%>
        <%#[> Wrapper for slides <]%>
        <%#<div class="carousel-inner">%>
          <%#<div class="item active">%>
            <%#<div class="container">%>
              <%#<div class="row">%>
                <%#<div class="col-lg-3 col-md-3 col-sm-4">%>
                  <%#<img class="img-circle img-center" src="img/testimonials/dirk.png" width="192" height="192" alt="Dexter Dirk"/>%>
                <%#</div>%>
                <%#<div class="col-lg-9 col-md-9 col-sm-8">%>
                  <%#<blockquote>%>
                    <%#<p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>%>
                    <%#<footer class="text-light">Dexter Dirk</footer>%>
                  <%#</blockquote>%>
                <%#</div>%>
              <%#</div>%>
            <%#</div>%>
          <%#</div>%>
          <%#<div class="item">%>
            <%#<div class="container">%>
              <%#<div class="row">%>
                <%#<div class="col-lg-3 col-md-3 col-sm-4">%>
                  <%#<img class="img-circle img-center" src="img/testimonials/roe.png" width="192" height="192" alt="Richard Roe"/>%>
                <%#</div>%>
                <%#<div class="col-lg-9 col-md-9 col-sm-8">%>
                  <%#<blockquote>%>
                    <%#<p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>%>
                    <%#<footer class="text-light">Richard Roe</footer>%>
                  <%#</blockquote>%>
                <%#</div>%>
              <%#</div>%>
            <%#</div>%>
          <%#</div>%>
          <%#<div class="item">%>
            <%#<div class="container">%>
              <%#<div class="row">%>
                <%#<div class="col-lg-3 col-md-3 col-sm-4">%>
                  <%#<img class="img-circle img-center" src="img/testimonials/doe.png" width="192" height="192" alt="Jonathan Doe"/>%>
                <%#</div>%>
                <%#<div class="col-lg-9 col-md-9 col-sm-8">%>
                  <%#<blockquote>%>
                    <%#<p class="text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>%>
                    <%#<footer class="text-light">Jonathan Doe</footer>%>
                  <%#</blockquote>%>
                <%#</div>%>
              <%#</div>%>
            <%#</div>%>
          <%#</div>%>
        <%#</div>%>
      <%#</div>%>
    <%#</div>%>
  <%#</div>%>
<%#</section>%>

<!--Contacts-->
<section class="page-block contacts" id="contacts">
  <div class="container">
    <div class="row page-header">
      <h2>Contatos</h2>
      <span>Subtext for header</span>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="row space-bottom">
          <div class="col-lg-9 col-md-9">
            <h3>O que fazemos</h3>
          </div>
          <div class="col-lg-3 col-md-3">
            <img class="img-center" src="img/contacts/man.png" alt="About Us"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-lg-offset-1">
        <div class="row space-bottom">
          <div class="col-lg-8 col-md-8">
            <h3>Endereço</h3>
          </div>
          <div class="col-lg-4 col-md-4">
            <img class="img-center" src="img/contacts/map.png" alt="Adress"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p>4120 Lenox Avenue, New York, NY, 10035 76 Saint Nicholas Avenue</p>
          </div>
        </div>
        <div class="row space-bottom">
          <div class="col-lg-8 col-md-8">
            <h3>Contatos</h3>
          </div>
          <div class="col-lg-4 col-md-4">
            <img class="img-center" src="img/contacts/phone.png" alt="Contacts"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p>+48 555 234 54 34<br/>+48 555 234 54 33<br/>info@email.com<br/>support@email.com</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-lg-offset-1">
        <div class="row space-bottom">
          <div class="col-lg-8 col-md-8">
            <h3>Contate-nos!</h3>
          </div>
          <div class="col-lg-4 col-md-4">
            <img class="img-center" src="img/contacts/plan.png" alt="Adress"/>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form method="post" class="feedback-form ajax-form" role="form">
              <div class="form-group">
                <label class="sr-only" for="name1">Nome</label>
                <input type="text" class="form-control" name="name" id="name1" placeholder="Nome">
              </div>
              <div class="form-group">
                <label class="sr-only" for="email1">Email</label>
                <input type="email" class="form-control" name="email" id="email1" placeholder="Email">
              </div>
              <div class="form-group">
                <label class="sr-only" for="message">Mensagem</label>
                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Mensagem"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
              <!-- Validation Response -->
              <div class="response-holder"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Social Networks-->
<section class="page-block" id="social">
  <div class="container">
    <div class="row page-header">
      <h2>Nossas rede sociais</h2>
      <span>Subtexto ilustrativo opcional</span>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="social-networks">
          <a class="icon-facebook tooltipped" href="#" title="Facebook"></a>
          <a class="icon-instagram tooltipped" href="#" title="Instagram"></a>
          <a class="icon-twitter tooltipped" href="#" title="Twitter"></a>
          <a class="icon-google-plus tooltipped" href="#" title="Google+"></a>
          <a class="icon-youtube tooltipped" href="#" title="Youtube"></a>
          <a class="icon-tumblr tooltipped" href="#" title="Tumblr"></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Footer-->
<%#<footer class="footer">%>
  <%#<div class="container">%>
    <%#<div class="row">%>
      <%#<div class="col-lg-12">%>
        <%#<h2 class="text-center text-light">Subscribe to our newsletter</h2>%>
        <%#<p class="text-light text-center">Sign up now to our newsletter and you'll be one of the first to know when the site is ready:</p>%>
      <%#</div>%>
    <%#</div>%>
    <%#<div class="row">%>

      <%#[> Begin MailChimp Signup Form <]%>
      <%#<form class="subscribe-form validate" action="http://8guild.us3.list-manage.com/subscribe/post?u=168a366a98d3248fbc35c0b67&amp;id=73d49e0d23" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>%>
        <%#<div class="form-group col-lg-7 col-md-8 col-sm-8 col-lg-offset-1">%>
          <%#<label class="sr-only" for="mce-EMAIL">Email address</label>%>
          <%#<input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Enter email" required>%>
          <%#[> real people should not fill this in and expect good things - do not remove this or risk form bot signups<]%>
          <%#<div style="position: absolute; left: -5000px;"><input type="text" name="b_168a366a98d3248fbc35c0b67_73d49e0d23" value=""></div>%>
        <%#</div>%>
        <%#<div class="form-group col-lg-3 col-md-4 col-sm-4"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-block"></div>%>
      <%#</form>%>
      <%#[> Close MailChimp Signup Form <]%>

    <%#</div>%>
    <%#<div class="row">%>
      <%#<div class="col-lg-12">%>
        <%#<p class="copyright">&copy; 2014 ULTIMA. All Rights Reserved. Designed by  <a href="http://8guild.com/" target="_blank">8Guild</a></p>%>
      <%#</div>%>
    <%#</div>%>
  <%#</div>%>
<%#</footer>%>

<!--Scroll To Top Button-->
<div id="scroll-top" class="scroll-up"><i class="icon-arrow-up"></i></div>
