<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @baby.name %>
</p>

<p>
  <strong>Born:</strong>
  <%= @baby.born %>
</p>

<p>
  <strong>Months:</strong>
  <%= @baby.months %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @baby.birthdate %>
</p>

<%= link_to 'Edit', edit_baby_path(@baby) %> |
<%= link_to 'Back', babies_path %>
