<div class="container">
  <div class="row jumbotron">
    <div class="col-xs-12 col-sm-8 col-centered">
      <h1 class="">Escolha sua nova senha</h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

        <%= f.hidden_field :reset_password_token %>

        <div class="form-group col-xs-12">
          <%= f.label :password, 'Nova senha' %><br />
          <% if @minimum_password_length %>
            <em>Pelo menos (<%= @minimum_password_length %> caracteres)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :password, 'Confirmação de senha' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group col-xs-12 text-center">
          <%= f.submit 'Enviar instruções', class: 'btn btn-primary' %>
        </div>
      <% end %>

      <div class="text-center">
        <%= link_to "Ir para o login",new_user_session_path, class: 'btn btn-primary btn-sm' %><br />
      </div>
    </div>
  </div>
</div>

<%= content_for :js do %>
  <script>
    $(document).ready(function() {
      toastr.options.closeButton = true;
      toastr.options.newestOnTop = false;

      <% resource.errors.full_messages.each_with_index do |msg, index| %>
        setTimeout(function() {
          toastr.warning('<%= msg %>')
        }, <%= index * 800 %>);
      <% end %>
    });
  </script>
<% end %>
