<div class="container">
  <div class="row jumbotron">
    <div class="col-xs-12 ">
      <h1 class="text-center">Nossos Planos</h1>

      <div class="col-lg-10 col-xs-12 col-centered">
        <!--Pricing Plans-->
        <% @plans.each do |plan| %>
          <div class="col-xs-12 col-sm-4">
            <div class="pricing-plan">
              <div class="header">
                <h3><%= plan.name %></h3>
                <span class="price"><%= currency(plan.price) %></span>
              </div>
              <div class="body">
                <uL>
                  <li><%= plan.duration %> <%= plan.class.human_attribute_name(:months, count: plan.duration.to_i) %></li>
                  <li><%= currency(plan.price_per_month) %> ao mês</li>
                  <li><%= plan.description %></li>
                </uL>
                <div class="buy-btn">
                  <%= link_to 'Assinar', plans_payment_checkout_path(plan_id: plan.id), class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

