<div class="container cs-page">
  <div class="row jumbotron">
    <div class="col-xs-12 ">
      <% if user.babies.empty? %>
        <h2>Nenhum bebê</h2>
      <% end %>

      <%= form_for(user, url: update_user_babies_path, html: { method: :patch }) do |f| %>
        <%= f.fields_for :babies, @user_babies do |baby| %>
          <div class="row babies left-border" data-id="<%= baby.object.id %>">
            <div class="form-group col-xs-12 col-sm-5">
              <%= baby.label :name, 'Nome do Bebê' %>
              <%= baby.text_field :name, class: 'form-control' %>
            </div>

            <div class="form-group col-xs-5 col-sm-3 baby-born-<%= baby.object.id %>">
              <%= baby.label :born, 'Nascido?' %>
              <%= baby.select(:born, options_for_select([['Sim', '1'], ['Não', '0']], baby_born_to_value(baby.object)), {}, { id: "baby-born-select-#{baby.object.id}", class: 'form-control', onchange: 'profileBabyBornChanged(this)'}) %>
            </div>

            <div class="form-group col-xs-7 col-sm-4 baby_birthdate" id="baby-birthdate-<%= baby.object.id %>">
              <%= baby.label :birthdate, 'Nascimento' %>
              <%= baby.telephone_field :birthdate, class: 'form-control date-field', placeholder: 'dd/mm/aaaa' %>
            </div>

            <div class="form-group col-xs-7 col-sm-4 baby_weeks" id="baby-weeks-<%= baby.object.id %>">
              <%= baby.label :weeks, 'Semanas de gestação' %>
              <%= baby.select :weeks, (1..45), {}, { class: 'form-control' } %>
            </div>
          </div>
          <div class="text-center">
            <%= link_to 'Apagar', user_baby_path(current_user, baby.object), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: "Tem certeza de que deseja excluir #{baby.object.name}?" } %>
          </div>
        <% end %>

        <div class="form-group col-xs-12 text-center">
          <%= f.submit 'Salvar bebês', class: 'btn btn-primary' %>
        </div>
      <% end %>

      <% if current_user.babies_full? %>
        <h4 class="text-center">Você pode adicionar apenas 10 bebês.</h4>
      <% else %>
        <div class="row">
          <div class="col-xs-12">
            <div class="panel-group" id="accordion-demo">
              <div class="panel">
                <a class="panel-heading" id="new_baby" data-toggle="collapse" data-parent="#accordion-demo" href="#collapse-baby">Adicionar bebê
                  <div class="indicator"><div class="icon"><span class="hr-line"></span><span class="vr-line"></span></div></div>
                </a>
                <div id="collapse-baby" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <%= form_for(@baby, url: create_user_baby_path, html: { method: :post }) do |f| %>
                      <div class="form-group col-xs-12 col-sm-6">
                        <%= f.label :name, 'Nome do Bebê' %>
                        <%= f.text_field :name, class: 'form-control' %>
                      </div>

                      <div class="form-group col-xs-5 col-sm-2">
                        <%= f.label :born, 'Nascido?' %>
                        <%= f.select :born, {'Não' => '0', 'Sim' => '1'}, {}, {class: 'form-control', onchange: 'babyBornChanged(this)'} %>
                      </div>

                      <div class="form-group col-xs-7 col-sm-4" id="baby-birthdate-0">
                        <%= f.label :birthdate, 'Nascimento' %>
                        <%= f.telephone_field :birthdate, class: 'form-control date-field', placeholder: 'dd/mm/aaaa' %>
                      </div>

                      <div class="form-group col-xs-7 col-sm-4" id="baby-weeks-0">
                        <%= f.label :weeks, 'Semanas de gestação' %>
                        <%= f.select :weeks, (1..45), {}, { class: 'form-control' } %>
                      </div>

                      <div class="form-group col-xs-12 text-center">
                        <%= f.submit 'Adicionar', class: 'btn btn-primary' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :head do %>
  <%= javascript_include_tag 'users/profile_babies' %>
<% end %>

<%= render 'shared/model_errors_notifications', record: @address %>

<%= content_for :js do %>
  <script>
// Para o campo de adicionar endereço nao começar aberto
  $('#new_baby').addClass('collapsed');
  $('#new_baby').click();
  </script>
<% end %>

