<!doctype html>
<!--Conditionals for IE9 Support-->
<!--[if IE 9]><html lang="en" class="ie ie9"><![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <title>Cegonha</title>
  <meta name="description" content="Ultimate Responsive HTML5 Landing Page" />
  <meta name="keywords" content="responsive html5 template, landing page, bootstrap 3.0, css, jquery" />
  <meta name="author" content="8Guild" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!--Favicon-->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <!--Google Fonts-->
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'landing2' 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="space-top">
  <!--Page Preloading-->
  <div id="preloader"><div id="spinner"></div></div>
  <%= render 'users/shared/header' %>

  <%= yield %>

</body>
</html>
